/* INDEX-MAIN STYLE */

.scoreboard,
.middleboard{
    background-color: rgb(252, 245, 245);
    display: flex;
    justify-content: center;
    align-self: center;
    border: 0.15em solid;
    flex-shrink: 1.5;   
}

.scoreboard{
    height: 40em;
    min-width: 18em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    align-items: center;
    border-radius: 3em;
    gap: 2em;
    box-shadow: 1.5em 1.5em 2em  rgb(97, 97, 97);
}

div.player-color,
div.computer-color {
    display: flex;
}

.middleboard{
    background-color: rgba(236, 227, 217, 0.801);
    height: 30em;
    width: 30em;
    border-radius: 5em;
    box-shadow: 1.5em 1.5em 2em  rgb(97, 97, 97);

    display: flex;
    justify-content: space-evenly;
    padding: 2em;
    align-items: center;
    align-self: flex-start;
    flex-shrink: 1;
}

.player-img{
    margin-top: 1em;
    width: 15em;
    height: 15em;
    border: 0.5em double;
    border-radius: 15em;
    background-color: rgb(121, 130, 138);
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-img i{
    font-size: 8em;
}

.player-name{
    font: 3em Verdana;
    font-weight: 600;
}

.player-score{
    border: 3px solid;
    border-radius: 0.5em;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 7.5em Verdana;
    font-weight: 800;
}

.choice-history-computer,
.choice-history-player {
    width: 3em;
    height: 17.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    font-size: 2.3em;
    overflow: hidden;
}

ol.choice-history-computer{
    margin-right: 1.5em
}
ol.choice-history-player{
    margin-left: 1.5em;
}

button,
.player-choice,
.computer-choice,
i{
    margin: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5em;
    font-size: 2.5em;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    flex: auto;
}

.fa-solid{
    flex:0;
}

.versus{
    margin: 0em 0.4em;
    flex-shrink: 1;
    font-size: 5em;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.player-choice button:hover {
    font-size: 3em;
    color: rgb(34, 61, 70);
    
}

.overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(39, 39, 39);
    opacity: 0.7;
  }

.restart-modal{
    display:none;
    position: fixed;
    padding: 0.5em;
    top: 35%;
    width: 400px;
    height: 180px;
    background-color: rgba(240, 248, 255, 0.911);
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    border: solid 0.15em;
    border-radius: 1em;
    align-self: center;
}

button.restart{
    font-weight: 600;
    font-size: 0.8em;
    background-color: rgba(240, 248, 255, 0.911);
    color: inherit;
    padding: 0.3em;
    border: solid 0.2em;
    border-radius: 0.5em;
}

.game-result, .restart{
    color: inherit;
    
}

button.restart:hover{
    background-color: rgba(6, 250, 128, 0.774);
}

.round-result{
    display: none;
    position: fixed;
    font-size: 2.2em;
    font-weight: 600;
    top: 77%;
    align-self: center;
    min-width: fit-content;
    text-align: center;
    z-index: 0;
    color: rgb(0, 196, 98);

}

.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.player-color{
    color: rgb(63, 181, 218);
}

.computer-color{
    color: rgb(248, 128, 107);
}