/* INDEX-MAIN STYLE */

.scoreboard,
.middleboard{
    background-color: rgb(252, 245, 245);
    display: flex;
    justify-content: center;
    border: 0.15em solid;   
}

.scoreboard{
    margin: 10em 5em 5em 5em;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border-radius: 60px;
}

.middleboard{
    align-self: center;
    background-color: rgba(236, 227, 217, 0.801);
    height: 500px;
    min-width: 300px;
    flex: 2;
    border-radius: 100px;  
}

.player-img{
    position: absolute;
    top: 10em;
    width: 200px;
    height: 200px;
    border: 1em double;
    border-radius: 150px;
    background-color: rgb(175, 188, 199);
}

