/* INDEX FOOTER STYLES */

.personal-accounts{
    margin-top: 1em;
    margin-bottom: 0.6em;
    display: flex;
    align-self: center;
    gap: 2em;
    font-size: 1em;
}

.personal-accounts a{
    color:antiquewhite;
}

#footer div p{
    margin: 0.5em 0em;
    text-align: center;
    font-size: 1em;
}