@import url("index-header.css");
@import url("index-main.css");
@import url("index-footer.css");


* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
    background-image: linear-gradient(90deg, rgb(65, 181, 248), white, rgb(248, 101, 75));
    background-repeat: no-repeat;
    justify-content: space-between;
}

#header{
    height: 3em;
    padding: 2em 0em;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    z-index: 2;
}

#main{
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 4em;
    flex-wrap: wrap;
}

#footer{
    width: 100vw;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(31, 31, 31, 0.979);
    color:antiquewhite;
    overflow-y: hidden;
    z-index: 2;
}

